@model ChangePasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Doctris - Doctor Appointment Booking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Premium Bootstrap 4 Landing Page Template" />
    <meta name="keywords" content="Appointment, Booking, System, Dashboard, Health" />
    <meta name="author" content="Shreethemes" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="website" content="https://shreethemes.in" />
    <meta name="Version" content="v1.2.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/lib/images/favicon.ico.png">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons -->
    <link href="/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/remixicon.css" rel="stylesheet" type="text/css" />
    <link href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" rel="stylesheet">
    <!-- Css -->
    <link href="/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .alert {
            position: fixed;
            top: 90px;
            right: 20px;
            z-index: 100;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

            .alert.show {
                opacity: 1;
            }
    </style>
</head>

<body>


    <div class="back-to-home rounded d-none d-sm-block">
        <a href="@Url.Action("Index", "Home")" class="btn btn-icon btn-primary"><i data-feather="home" class="icons"></i></a>
    </div>

    <!-- Hero Start -->
    <section class="bg-home d-flex bg-light align-items-center" style="background: url('/lib/images/bg/bg-chat.png') center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8">
                    @*<img style="border-radius: 25%;" src="/lib/images/logoClothes.png" height="55" width="120" class="mx-auto d-block" alt="">*@
                    <img src="/lib/images/logo-dark.png" height="24" class="mx-auto d-block" alt="">
                    <div class="card login-page bg-white shadow mt-4 rounded border-0">
                        <div class="card-body">
                            <h4 class="text-center">Reset your password</h4>
                            @using (Html.BeginForm("ResetPassword", "ForgotPassword", FormMethod.Post, new { id = "resetPasswordForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-muted">Please enter your new password and confirm the new password to change it.</p>
                                        <div class="mb-3">
                                            <label class="form-label">New password <span class="text-danger">*</span></label>
                                            @Html.PasswordFor(m => m.newPassword, new { @class = "form-control", placeholder="New password", required=""})
                                            @Html.ValidationMessageFor(m => m.newPassword)
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">New password confirmation <span class="text-danger">*</span></label>
                                            @Html.PasswordFor(m => m.conFirmPassword, new { @class = "form-control", placeholder="Reenter password", required="" })
                                            @Html.ValidationMessageFor(m => m.conFirmPassword)
                                        </div>
                                        <input type="hidden" name="code" value="@ViewBag.ResetCode" />

                                        <div class="form-group">
                                            @Html.HiddenFor(m => m.userID, new { id = "userIDHidden" })
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Confirm</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="mb-0 mt-3"><small class="text-dark me-2">Remember your password ?</small> <a href="@Url.Action("Index","Login")" class="text-dark fw-bold">Sign in</a></p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div><!---->
                    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
                    {
                        <div id="toast" class="alert alert-success" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
                            <div class="toast-body">
                                @TempData["SuccessMessage"]
                            </div>
                        </div>

                        <script>
                            $(document).ready(function () {
                                $('#toast').toast('show'); // Hiển thị toast

                                // Tự động ẩn toast sau 4 giây và chuyển hướng sau khi ẩn
                                setTimeout(function () {
                                    $('#toast').toast('hide');
                                    setTimeout(function () {
                                        window.location.href = '/Login'; // Chuyển hướng đến trang khác
                                    }, 500); // Đợi 0.5 giây trước khi chuyển hướng
                                }, 4000);
                            });
                        </script>
                    }

                    @if (!string.IsNullOrEmpty(TempData["FailMessage"] as string))
                    {
                        <div id="toast" class="alert alert-danger" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000">
                            <div class="toast-body">
                                @TempData["FailMessage"]
                            </div>
                        </div>

                        <script>
                            $(document).ready(function () {
                                $('#toast').toast('show'); // Hiển thị toast

                                // Tự động ẩn toast sau 4 giây
                                setTimeout(function () {
                                    $('#toast').toast('hide');
                                }, 4000);
                            });
                        </script>
                    }
                </div> <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Hero End -->
    <!-- javascript -->
    <script src="../js/bootstrap.bundle.min.js"></script>
    <!-- Icons -->
    <script src="../js/feather.min.js"></script>
    <!-- Main Js -->
    <script src="../js/app.js"></script>
    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function () {
            var userID = document.getElementById('userIDHidden').value;
            document.getElementById('userIDHidden').value = userID;
        });
    </script>
</body>

</html>
